.news-page {
  float: left;
  width: 100%; }
  .news-page .item-news {
    margin-bottom: 20px; }

.detail-news-page {
  position: relative;
  z-index: 99;
  float: left;
  width: 100%; }
  .detail-news-page h1 {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px; }
    @media (max-width: 767px) {
      .detail-news-page h1 {
        font-size: 20px;
        line-height: 25px; } }

.tag {
  float: left;
  margin-bottom: 15px; }

.support-line {
  float: right; }
  .support-line a {
    margin-left: 15px;
    font-size: 15px; }

.content-detail {
  float: left;
  width: 100%; }

.list-cate-new {
  float: left;
  width: 100%;
  margin: 10px 0 15px; }
  .list-cate-new ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .list-cate-new ul li {
      float: left;
      margin-right: 10px; }
      .list-cate-new ul li a {
        color: #3F3F3F;
        display: inline-block;
        padding: 5px 20px 3px 20px;
        font-weight: 500; }
        .list-cate-new ul li a:hover, .list-cate-new ul li a.active {
          background: #FFCD1E;
          border-radius: 3px; }

.cover-news {
  float: left;
  width: 100%; }
  .cover-news .big-new {
    float: left;
    width: 480px;
    padding-right: 7px; }
    @media (max-width: 1200px) {
      .cover-news .big-new {
        width: 100%;
        padding-right: 0; } }
    .cover-news .big-new .img img {
      min-width: 100%; }
    .cover-news .big-new .title {
      float: left;
      width: 100%; }
      .cover-news .big-new .title h2 {
        margin: 15px 0px 10px 0px;
        font-size: 22px;
        color: #262626;
        font-weight: 400; }
        .cover-news .big-new .title h2 a {
          color: #262626; }
          .cover-news .big-new .title h2 a:hover {
            color: #da251d; }
  .cover-news .small-new {
    float: left;
    width: Calc(100% - 480px);
    padding-left: 7px; }
    @media (max-width: 1200px) {
      .cover-news .small-new {
        display: none; } }
    .cover-news .small-new .item-small-new {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ebebeb; }
      .cover-news .small-new .item-small-new .img {
        display: none;
        margin-bottom: 10px; }
        .cover-news .small-new .item-small-new .img img {
          min-width: 100%; }
      .cover-news .small-new .item-small-new .title {
        float: left;
        width: 100%; }
        .cover-news .small-new .item-small-new .title h3 {
          margin: 0px;
          color: #333333;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px; }
          .cover-news .small-new .item-small-new .title h3 a {
            color: #333333; }
            .cover-news .small-new .item-small-new .title h3 a:hover {
              color: #da251d; }
      .cover-news .small-new .item-small-new:first-child .img {
        display: block; }
      .cover-news .small-new .item-small-new:first-child h3 {
        text-transform: uppercase; }
      .cover-news .small-new .item-small-new:last-child {
        border-bottom: none; }

.list-news {
  float: left;
  width: 100%;
  margin: 30px 0; }
  .list-news .item-news {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb; }
    .list-news .item-news .img {
      float: left;
      width: 286px; }
      .list-news .item-news .img img {
        min-width: 100%; }
      @media (max-width: 600px) {
        .list-news .item-news .img {
          width: 100%;
          margin-bottom: 10px; } }
    .list-news .item-news .title {
      float: left;
      width: Calc(100% - 286px);
      padding-left: 15px; }
      @media (max-width: 600px) {
        .list-news .item-news .title {
          width: 100%;
          padding-left: 0; } }
      .list-news .item-news .title .time {
        color: #3583F8; }
      .list-news .item-news .title h3 {
        margin: 10px 0px 12px;
        font-weight: 400;
        color: #262626;
        font-size: 20px; }
        .list-news .item-news .title h3 a {
          color: #262626; }
          .list-news .item-news .title h3 a:hover {
            color: #da251d; }
    .list-news .item-news:last-child {
      border-bottom: none; }

.hot-tag {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .hot-tag .title-box {
    float: left;
    width: 100%; }
    .hot-tag .title-box h2 {
      font-size: 18px;
      line-height: 21px;
      margin: 10px 0 15px;
      color: #888888;
      font-weight: 500; }
  .hot-tag a {
    display: inline-block;
    background: #0F5497;
    border-radius: 3px;
    padding: 5px 15px 3px 15px;
    color: #fff;
    margin-bottom: 5px; }
    .hot-tag a:hover {
      background: #da251d; }

.news-hot {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .news-hot .title-box {
    float: left;
    width: 100%; }
    .news-hot .title-box h2 {
      float: left;
      font-size: 18px;
      line-height: 21px;
      margin: 10px 0 15px;
      color: #888888;
      font-weight: 500; }
    .news-hot .title-box a {
      color: #0D61AE;
      float: right;
      font-size: 13px;
      margin-top: 13px; }
      .news-hot .title-box a:hover {
        color: #da251d; }
  .news-hot .list-news-hot {
    float: left;
    width: 100%; }
    .news-hot .list-news-hot .item-news {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ebebeb; }
      .news-hot .list-news-hot .item-news h2 {
        float: left;
        width: 100%;
        margin: 0px;
        font-weight: 400;
        display: flex;
        line-height: 20px; }
        .news-hot .list-news-hot .item-news h2 span {
          float: left;
          width: 33px;
          height: 33px;
          background: #E9E9E9;
          line-height: 34px;
          font-size: 20px;
          color: #979797;
          text-align: center;
          border-radius: 3px;
          min-width: 33px;
          margin-right: 10px; }
        .news-hot .list-news-hot .item-news h2 a {
          color: #333333;
          font-size: 14px; }
          .news-hot .list-news-hot .item-news h2 a:hover {
            color: #da251d; }

.new-job {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .new-job .title-box {
    float: left;
    width: 100%; }
    .new-job .title-box h2 {
      float: left;
      font-size: 18px;
      line-height: 21px;
      margin: 10px 0 15px;
      color: #888888;
      font-weight: 500; }
    .new-job .title-box a {
      color: #0D61AE;
      float: right;
      font-size: 13px;
      margin-top: 13px; }
      .new-job .title-box a:hover {
        color: #da251d; }
  .new-job .list-news-job {
    float: left;
    width: 100%; }
    .new-job .list-news-job .item-job {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ebebeb; }
      .new-job .list-news-job .item-job .title {
        float: left;
        width: Calc(100% - 120px); }
        .new-job .list-news-job .item-job .title a {
          color: #333333;
          font-size: 14px; }
          .new-job .list-news-job .item-job .title a:hover {
            color: #da251d; }
        .new-job .list-news-job .item-job .title span {
          display: inline-block;
          width: 100%;
          color: #555;
          font-size: 13px; }
      .new-job .list-news-job .item-job .time {
        float: right;
        width: 120px;
        text-align: right; }

.detail-blog {
  float: left;
  width: 100%; }

.page-daily {
  float: left;
  width: 100%; }
  .page-daily .breadcrumb {
    padding-left: 0; }
  .page-daily .row-10 {
    margin: 0px -10px; }
  .page-daily .search-daily {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0; }
    .page-daily .search-daily .item-select {
      float: left;
      width: 25%;
      padding: 0px 10px; }
      @media (max-width: 991px) {
        .page-daily .search-daily .item-select {
          width: 50%;
          margin-bottom: 15px; } }
      @media (max-width: 480px) {
        .page-daily .search-daily .item-select {
          width: 100%; } }
      .page-daily .search-daily .item-select select, .page-daily .search-daily .item-select input {
        float: left;
        width: 100%;
        background: #F0F0F0;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 9px 15px; }
    .page-daily .search-daily .item-button {
      float: left;
      width: 25%;
      padding: 0px 10px; }
      @media (max-width: 991px) {
        .page-daily .search-daily .item-button {
          width: 50%;
          margin-bottom: 15px; } }
      @media (max-width: 480px) {
        .page-daily .search-daily .item-button {
          width: 100%; } }
      .page-daily .search-daily .item-button button {
        background: #D62828;
        border-radius: 2px;
        border: none;
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 9px 10px; }
        .page-daily .search-daily .item-button button i {
          margin-right: 6px; }

.result-map {
  float: left;
  width: 100%; }
  .result-map .map {
    float: left;
    width: 100%;
    margin-bottom: 30px; }
    .result-map .map img {
      width: 100%; }
  .result-map .list-store {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    max-height: 580px;
    overflow-y: auto; }
    .result-map .list-store .item-store {
      float: left;
      width: 100%;
      margin-bottom: 13px;
      background: #F4F4F4;
      padding: 10px 15px; }
      .result-map .list-store .item-store h2 {
        margin: 0px 0px 5px 0;
        font-size: 18px;
        line-height: 22px;
        color: #0F5396; }
      .result-map .list-store .item-store p {
        float: left;
        width: 100%;
        margin-bottom: 3px;
        font-size: 14px;
        color: #333333; }
        .result-map .list-store .item-store p i {
          color: #555;
          display: inline-block;
          margin-right: 6px; }

/*# sourceMappingURL=tintuc.css.map */
