/*
Error: Undefined mixin 'transition'.
        on line 496 of D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss, in `transition'
        from line 496 of D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss

491: 	color: #393939;
492: 	text-align: center;
493: 	font-size: 15px;
494: 	font-weight: 500;
495: 	margin-top: 10px;
496: 	@include transition(.4s);
497: 	&:hover{
498: 		background: #ebebeb;
499: 		padding: 4px 0;
500: 	}
501: 	a{

Backtrace:
D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss:496:in `transition'
D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss:496
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/New folder (2)/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/New folder (2)/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/New folder (2)/bin/sass:22:in `load'
D:/New folder (2)/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 496 of D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss, in `transition'\A         from line 496 of D:\Git-Template\templalate-t3-2017\rosalia\sass\pages\product.scss\A \A 491: 	color: #393939;\A 492: 	text-align: center;\A 493: 	font-size: 15px;\A 494: 	font-weight: 500;\A 495: 	margin-top: 10px;\A 496: 	@include transition(.4s);\A 497: 	&:hover{\A 498: 		background: #ebebeb;\A 499: 		padding: 4px 0;\A 500: 	}\A 501: 	a{"; }
